@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;

  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;

  background-color:  #f2f2f2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  display: flex;
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  flex-direction: column;
}

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #756157;
}

.slogan {
  margin: 0;
  padding-left: 70px;
  padding-right: 70px;
  overflow-wrap: break-word;

  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.slogan-content {
  margin: 0;
  padding-left: 70px;
  padding-right: 70px;
  overflow-wrap: break-word;

  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  color: #333333;
}

.title {
  margin: 0;

  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  overflow-wrap: break-word;
}

.text {
  margin: 0;

  font-weight: 400;
  overflow-wrap: break-word;
  color: #333333;
}

/* header */
.page-header {
  padding-left: 70px;
  padding-right: 70px;
  max-width: 1060px;
  background-color: #ffffff;
}

.navigation {
  display: flex;
  margin-bottom: -6px;
}

.logo-header {
  display: flex;
  margin-right: 28px;
}

.logo-header img {
  display: block;
  width: 140px;
  z-index: 1;
}

.navigation-list {
  display: flex;
  max-width: 565px;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;

  list-style: none;
}

.navigation-link {
  display: block;
  padding-top: 20px;
  padding-right: 16px;
  padding-bottom: 20px;
  padding-left: 16px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: #000000;
}

.navigation-user {
  display: flex;
  width: 268px;
  margin: 0;
  padding: 0;
  margin-left: auto;

  list-style: none;
}

.navigation-user .navigation-link {
  min-width: 20px;
  min-height: 20px;
  padding-top: 22px;
  padding-right: 12px;
  padding-bottom: 22px;
  padding-left: 12px;

}

.like-count-container {
  padding: 5px 5px 5px 4px;
  border-radius: 50%;
  background-color: #7db54f;
}

.like-count {
  display: block;
  font-size: 10px;
  line-height: 10px;
  font-weight: 400;
  color: #ffffff;

  background-color: #7db54f;
}

.navigation-user .navigation-item:last-child {
  padding-top: 14px;
  padding-left: 20px;
  padding-bottom: 20px;
}

.navigation-link.button-navigation-favorite {
  display: block;
  width: 160px;
  padding-top: 8px;
  padding-right: 34px;
  padding-bottom: 8px;
  padding-left: 34px;
  box-sizing: border-box;

  border-radius: 4px;

  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

/* main */

.site-main {
  color: #000000;
  background-color: #ffffff;
}

.main-container {
  flex-grow: 1; /* сделал главную-коробку жадной, теперь футер приколочен к полу */
}

/* main section hero */

.hero {
  padding-top: 51px;
  padding-bottom: 82px;

  background-image: url("../image/mask.svg"), url("../image/main/hero_background.jpg");
  background-size: 100% auto, cover;
  background-position: center bottom, center top;
  background-repeat: no-repeat;
  background-color: #f2f2f2;
}

.picture-hero {
  display: block;
  width: 458px;
  margin: 0 auto;
}

/* main section advantages */
.advantages {
  padding-top: 69px;
}

.slogan-advantages {
  margin-bottom: 25px;
}

.slogan-content-advantages {
  margin-bottom: 90px;
}

.advantages-list {
  display: flex;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;

  list-style: none;
}

.advantages-item {
  width: 400px;
  min-height: 385px;
  padding-top: 112.5px;
  padding-right: 85px;
  padding-bottom: 112.5px;
  padding-left: 85px;
  box-sizing: border-box;

  text-align: center;

  background-color: rgba(131, 179, 211, 0.2);
}

.title-advantages-item {
  margin-bottom: 62px;
}

.advantages-item:nth-child(2n) {
  background-color: rgba(131, 179, 211, 0.12);;
}

.is-image,
.is-image.is-image-even {
  display: flex;
  width: 1200px;
  padding: 0;

  background-color: #82b3d3;
}

.is-image h3,
.is-image p {
  color: #ffffff;
}

.advantages-item-container {
  width: 400px;
  padding-top: 102px;
  padding-right: 85px;
  padding-bottom: 102px;
  padding-left: 85px;
  box-sizing: border-box;
}

.advantages-item-img {
  width: 800px;
}

.is-image-even {
  flex-direction: row-reverse;
}

/* main section service */

.service {
  padding-top: 64px;
}

.slogan-service {
  margin-bottom: 20px;
}

.slogan-content-service {
  margin-bottom: 64px;
}

.service-list {
  display: flex;
  width: 1200px;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;

  list-style: none;
}

.service-item {
  width: 400px;
  min-height: 385px;
  padding-top: 81px;
  padding-right: 85px;
  padding-bottom: 81px;
  padding-left: 85px;

  box-sizing: border-box;

  text-align: center;

  background-color: rgba(131, 179, 211, 0.12);
}

.title-service-item {
  margin-top: 102px;
  margin-bottom: 30px;
}

.service-item:nth-child(2n) {
  background-color: #ffffff;
}

/* main section search-hotel */
.search-hotel {
  padding-top: 96px;
  padding-bottom: 96px;
}

.slogan-search-hotel {
  margin-bottom: 20px;
}

.slogan-content-search-hotel {
  margin-bottom: 54px;
}

.button-search-hotel {
  display: block;
  width: 376px;
  margin: 0 auto;
  padding-top: 8px;
  padding-right: 50px;
  padding-bottom: 8px;
  padding-left: 50px;

  border: none;
  border-radius: 4px;

  font-size: 20px;
  line-height: 36px;
}

/* footer */

.site-footer {
  background-color: #ffffff;
}

/* subscription-footer */

.subscription-footer {
  padding-top: 96px;
  padding-bottom: 104px;
}

.footer-image-container {
  background-image: url("../image/main/form_main_footer.jpg");
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-color: #f2f2f2;
}

.slogan-main-footer,
.slogan-content-main-footer {
  color: #ffffff;
}

.title-subscription-footer {
  margin-bottom: 20px;
}

.text-subscription-footer {
  margin-bottom: 54px;
}

.form-subscription-footer {
  width: 684px;
  margin: 0 auto;
}

.form-subscription-footer input {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;

  background-color: #f2f2f2;

  /* ecть opacity
  не забыть вставить когда дойду до форм */
}

.button-subscription {
  font-size: 20px;
  line-height: 36px;

  background-color: #82b3d3;
}

/* contacts-footer */

.contacts-footer {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  padding-right: 70px;
  padding-bottom: 30px;
  padding-left: 70px;
}

.footer-social-list {
  display: flex;
  max-width: 142px;
  margin: 0;
  padding: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  flex-wrap: wrap;

  list-style: none;
}

.footer-social-item {
  width: 47px;
  height: 40px;
}

.footer-social-link {
  display: block;
  text-decoration: none;
  color: #000000;
  min-width: 18px;
  min-height: 13px;
}

.footer-social-link:nth-child(1) {
  padding: 13px 12px;
}

.footer-social-link:nth-child(2) {
  padding: 12px 15px;
}

.footer-social-link:nth-child(3) {
  padding: 12px 13px;
}

.footer-address {
  width: 720px;
  padding-top: 5px;
  padding-right: 194px;
  padding-bottom: 5px;
  padding-left: 195px;
  box-sizing: border-box;

  font-style: normal;
}

.footer-phone {
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-decoration: none;
  color: #000000;
}

.copyright {
  width: 115px;
  padding-top: 9px;
  padding-bottom: 9px;
}

/* catalog.html */

.main-inner {
  background-color: #ffffff;
}

.inner-container {
  background-image: url("../image/catalog/form_background.jpg");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  background-color: #000000;

  padding-top: 35px;
  padding-right: 70px;
  padding-bottom: 70px;
  padding-left: 70px;
}

/* inner-header */

.inner-header {
  width: 1060px;
  margin: 0 auto;
  margin-bottom: 40px;

  color: #ffffff;
}

.title-inner-header {
  margin: 0;
  margin-bottom: 8px;

  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.breadcrumbs-list {
  display: flex;
  width: 1060px;
  /* норм задать всю доступную ширину шапки или надо задавать по макету? */
  margin: 0;
  padding: 0;
  align-items: center;

  list-style: none;
}

.breadcrumbs-item {
  margin-right: 28px;

  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
}

.breadcrumbs-link {
  text-decoration: none;
  color: #ffffff;
}

.home {
  display: block;
  min-width: 13px;
  min-height: 15px;
}

/* catalog */
.form-catalog-hotel {
  display: flex;
  width: 1060px;
  margin: 0 auto;

  color: #ffffff;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;

  border: none;
}

.catalog-filter-title {
  padding: 0;

  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-transform: capitalize;
}

.catalog-filter-list {
  width: 150px;
  margin: 0;
  padding: 0;
  margin-right: 70px;

  list-style: none;
}

.control {
  line-height: 23px;
  font-weight: 400;
}

.price-container {
  width: 288px;
  margin-left: 70px;
  margin-right: 70px;
}

.price-input {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;

  background-color: #f2f2f2;
}

.price {
  line-height: 24px;
  font-weight: 400;
  /* есть opacity 0.3 */
}

.button-container {
  width: 191px;
}

.button-form-catalog-submit {
  background-color: #82b3d3;
}

.button-form-catalog-reset {
  background-color: inherit;
}

/* section product-container */

.product-container {
  padding-top: 50px;
  padding-right: 70px;
  padding-bottom: 60px;
  padding-left: 70px;
}

.header-product-sort {
  display: flex;
  width: 1060px;
  margin-bottom: 40px;

}

.text-sort {
  width: 338px;
  margin: 0;
  margin-top: 7px;
  margin-right: 200px;
  margin-bottom: 7px;

  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.select-control {
  width: 292px;

  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

.catalog-card-list {
  display: flex;
  justify-content: space-between;
  width: 160px;
  margin: 0;
  padding: 0;
  margin-left: auto;
  align-items: center;

  list-style: none;
}

.catalog-link {
  color: #000000;
  text-decoration: none;
  display: block;
  width: 48px;
  height: 48px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  padding: 17px 16px;
  box-sizing: border-box;
}

.product-list {
  display: flex;
  width: 1060px;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 80px;

  list-style: none;
}

.product-card {
  width: 340px;
}

.product-card-link {
  color: #000000;
  text-decoration: none;
}

.product-card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}

.product-card-text,
.product-card-price {
  font-weight: 400;
  color: #333333;
}

.product-card-button {
  text-decoration: none;
}

.button-favorite {
  width: 140px;

  background-color: #82b3d3;
}

.button-favorite-active {
  width: 140px;

  background-color: #7db54f;
}

.product-card-rating {
  width: 140px;

  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: #333333;

  background-color: #f2f2f2;
}

.pagination {
  display: flex;
  width: 1060px;
  margin: 0;
  padding: 0;
  gap: 8px;

  list-style: none;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  min-width: 60px;
  height: 60px;
  padding: 11px 24px 12px 23px;

  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #82b3d3;
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination-dots {
  padding: 16px 21px 17px 21px;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;

  background-color: inherit;
}

/* footer */

.page-footer {
  background-color: #ffffff;
}
