@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;

  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;

  background-color:  #f2f2f2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  display: flex;
  width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  flex-direction: column;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.button {
  display: block;
  padding-top: 8px;
  padding-bottom: 8px;

  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  overflow-wrap: break-word;

  color: #ffffff;

  background-color: #756157;

  border: none;

  cursor: pointer;
}

.button:hover,
.button:focus-visible {
  outline: none;
  background-color: #615048;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #756157;
}

.button:disabled {
  background-color: #e5e5e5;
  cursor: default;
  color: #ffffff;
}

.link-state:hover,
.link-state:focus-visible {
  outline: none;
  color: #756157;
}

.link-state:active,
.link-state:active {
  color: rgba(117, 97, 87, 0.3);
}

.slogan {
  margin: 0;
  overflow-wrap: break-word;

  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.slogan-content {
  margin: 0;
  overflow-wrap: break-word;

  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  color: #333333;
}

.title {
  margin: 0;

  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  overflow-wrap: break-word;
}

.text {
  margin: 0;

  font-weight: 400;
  overflow-wrap: break-word;
  color: #333333;
}

/* header */

.page-header {
  padding-left: 70px;
  padding-right: 70px;
  background-color: #ffffff;
}

.navigation {
  position: relative;

  display: flex;
  margin-bottom: -6px;
  flex-wrap: wrap;
  column-gap: 28px;
}

.logo-header img {
  display: block;
  max-width: 140px;
}

.logo-header:hover {
  opacity: 0.6;
}

.logo-header:active {
  opacity: 0.3;
}

.navigation-list {
  display: flex;
  max-width: 565px;
  min-width: 300px;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;

  list-style: none;
}

.navigation-link {
  position: relative;
  display: block;
  padding-top: 20px;
  padding-right: 16px;
  padding-bottom: 20px;
  padding-left: 16px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: #000000;
}

.navigation-link-active::after {
  position: absolute;
  content: "";
  height: 2px;

  bottom: -1px;
  left: 16px;
  right: 16px;

  background-color: #756257;
}

.navigation-link-active:hover {
  cursor: default;
  color: #000000;
}

.navigation-user {
  display: flex;
  width: 268px;
  margin: 0;
  padding: 0;
  margin-left: auto;

  list-style: none;
}

.navigation-user .navigation-link {
  min-width: 20px;
  min-height: 20px;
  padding: 22px 12px;
}

.navigation-icon svg {
  width: 20px;
  height: 20px;
  display: block;
}

 .like-count-container {
  position: relative;
}

.like-count {
  position: absolute;
  top: -50%;
  left: 50%;
  display: block;
  font-size: 10px;
  line-height: 10px;
  font-weight: 400;
  color: #ffffff;
  padding: 5px 5px 5px 4px;
  border-radius: 50%;

  background-color: #7db54f;
}

.navigation-user .navigation-item:last-child {
  padding-top: 14px;
  padding-left: 20px;
  padding-bottom: 20px;
}

.navigation-link.button-navigation-favorite {
  width: 160px;
  padding-top: 8px;
  padding-right: 34px;
  padding-bottom: 8px;
  padding-left: 34px;
  box-sizing: border-box;

  border-radius: 4px;

  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.navigation-link.button-navigation-favorite:hover,
.navigation-link.button-navigation-favorite:focus-visible {
  background-color: #615048;
  color: #ffffff;
}

.navigation-link.button-navigation-favorite:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #756157;
}

/* main */

.site-main {
  color: #000000;
  background-color: #ffffff;
}

.main-container {
  flex-grow: 1;
}

/* main section hero */

.hero {
  padding-top: 51px;
  padding-bottom: 82px;

  background-image: url("../images/mask.svg"), url("../images/von.jpg");
  background-size: 100% auto, cover;
  background-position: center bottom, center top;
  background-repeat: no-repeat;
  background-color: #999999;
}

.picture-hero {
  display: block;
  width: 458px;
  margin: 0 auto;
}

/* main section advantages */

.advantages {
  padding-top: 69px;
}

.slogan-advantages {
  margin-bottom: 25px;
  padding-right: 70px;
  padding-left: 70px;
}

.slogan-content-advantages {
  margin-bottom: 90px;
  padding-right: 70px;
  padding-left: 70px;
}

.advantages-list {
  display: flex;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;

  list-style: none;
}

.advantages-item {
  width: 400px;
  min-height: 385px;
  padding-top: 112.5px;
  padding-right: 85px;
  padding-bottom: 112.5px;
  padding-left: 85px;
  box-sizing: border-box;

  text-align: center;

  background-color: rgba(131, 179, 211, 0.2);
}

.title-advantages-item {
  position: relative;
  margin-bottom: 62px;
}

.text-advantages-item {
  width: 230px;
}

.advantages-item .title-advantages-item::after {
  content: "";
  position:absolute;
  width: 60px;
  height: 2px;
  bottom: -32px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.3);
}

.advantages-item:nth-child(2n) {
  background-color: rgba(131, 179, 211, 0.12);;
}

.is-image,
.is-image.is-image-even {
  display: flex;
  width: 100%;
  padding: 0;

  background-color: #82b3d3;
}

.is-image h3,
.is-image p {
  color: #ffffff;
}

.advantages-item-container {
  width: 400px;
  padding-top: 102px;
  padding-right: 85px;
  padding-bottom: 102px;
  padding-left: 85px;
  box-sizing: border-box;
}

.advantages-item-container .title-advantages-item::after {
  background-color: rgba(255, 255, 255, 0.3);
}

.advantages-item-img {
  align-self: center;
}

.is-image-even {
  flex-direction: row-reverse;
}

.service {
  padding-top: 64px;
}

.slogan-service {
  margin-bottom: 20px;
  padding-right: 70px;
  padding-left: 70px;
}

.slogan-content-service {
  margin-bottom: 64px;
  padding-right: 70px;
  padding-left: 70px;
}

.service-list {
  display: flex;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;

  list-style: none;
}

.service-item {
  width: 400px;
  min-height: 385px;
  padding-top: 81px;
  padding-right: 85px;
  padding-bottom: 81px;
  padding-left: 85px;

  box-sizing: border-box;

  text-align: center;

  background-color: rgba(131, 179, 211, 0.12);
  background-size: 75px 72px;
  background-position: center 81px;
  background-repeat: no-repeat;
}

.service-icon-one {
  background-image: url("../images/vector.svg");
}

.service-icon-two {
  background-image: url("../images/food.svg");
}

.service-icon-three {
  background-image: url("../images/vector-1.svg");
}

.title-service-item {
  margin-top: 102px;
  margin-bottom: 30px;
}

.service-item:nth-child(2n) {
  background-color: #ffffff;
}


.search-hotel {
  padding-top: 96px;
  padding-right: 70px;
  padding-bottom: 96px;
  padding-left: 70px;
}

.slogan-search-hotel {
  margin-bottom: 20px;
}

.slogan-content-search-hotel {
  margin-bottom: 54px;
}

.button-search-hotel {
  width: 376px;
  margin: 0 auto;
  padding-right: 50px;
  padding-left: 50px;

  border: none;
  border-radius: 4px;

  font-size: 20px;
  line-height: 36px;
}


.site-footer {
  background-color: #ffffff;
}

/* subscription-footer */

.subscription-footer {
  padding-top: 96px;
  padding-right: 258px;
  padding-bottom: 104px;
  padding-left: 258px;
}

.footer-image {
  background-image: url("../images/von-html.jpg");
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-color: #999999;
}

.slogan-main-footer,
.slogan-content-main-footer {
  color: #ffffff;
}

.title-subscription-footer {
  margin-bottom: 20px;
}

.text-subscription-footer {
  margin-bottom: 55px;
}

.form-subscription-footer {
  display: flex;
}

.form-subscription-footer input {
  width: 452px;
  padding: 14px 20px;

  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);

  border: none;
  border-radius: 4px 0 0 4px;

  background-color: #f2f2f2;
}

.button-subscription {
  width: 232px;
  padding-right: 50px;
  padding-left: 50px;

  font-size: 20px;
  line-height: 36px;

  border-radius: 0 4px 4px 0;

  background-color: #82b3d3;
}

.button-subscription:hover,
 .button-subscription:focus-visible {
  background-color: #68a2ca;
}

.button-subscription:active {
  background-color: #82b3d3;
}

.field:hover {
  background-color: #e6e6e6;
}

.field:focus-visible {
  outline: 3px solid #83b3d3;
}

.field:disabled {
  background-color: #e5e5e5;
}

.button-subscription:disabled {
  background-color: #e5e5e5;
}


.contacts-footer {
  display: flex;
  gap: 32px;
  padding-top: 40px;
  padding-right: 70px;
  padding-bottom: 30px;
  padding-left: 70px;
}

.footer-social-list {
  display: flex;
  min-width: 142px;
  max-width: 150px;
  margin: 0;
  padding: 0;
  margin-right: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  flex-wrap: wrap;

  list-style: none;
}

.footer-social-link {
  display: flex;
  width: 47px;
  height: 40px;
  padding: 11px 9px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #83b3d3;
}

.footer-social-link:hover,
.footer-social-link:focus-visible {
  outline: none;
  color: #68a2ca;
}

.footer-social-link:active {
  color: rgba(104, 162, 202, 0.3);
}

.footer-address {
  padding-top: 5px;
  padding-right: 194px;
  padding-bottom: 5px;
  padding-left: 193px;

  font-style: normal;
}

.footer-phone {
  display: block;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  overflow-wrap: break-word;
  color: #000000;
}

.copyright {
  margin-left: auto;
  padding-top: 8px;
  padding-bottom: 8px;
  box-sizing: border-box;
  color: #000000;
}

.copyright svg {
  display:block;
}

/* modal */

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);;
}

.modal-search {
  position: relative;
  width: 717px;
  margin: auto;
  border-radius: 30px;
  background-color: #ffffff;
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.15);
}

.modal-container-close {
  display:none;
}

.modal-content {
  padding: 64px 70px;
}

.modal-close-button {
  position: absolute;
  display: flex;
  padding: 0;
  justify-content: center;
  align-items: center;
  top: 64px;
  right: 52px;
  width: 52px;
  height: 52px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.modal-close-button svg {
  display:block;
}

.modal-close-button:hover {
  background-color: #e5e5e5;
}

.modal-close-button:focus-visible {
  background-color: #e5e5e5;
  outline: 3px solid #83b3d3;
}

.modal-close-button:active {
  background-color: #e5e5e5;;
  color:rgba(0, 0, 0, 0.3);
}

.modal-close-button:disabled {
  background-color: #e5e5e5;
}

.modal-title {
  margin: 0;
  margin-bottom: 64px;
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.form-booking {
  display: grid;
  grid-template-columns: 247px 242px;
  grid-template-rows: auto auto auto auto;
  column-gap: 88px;
  row-gap: 48px;
}

.control-in {
  grid-column: 1/-1;
  grid-row: 1;
}

.control-out {
  grid-column: 1/-1;
  grid-row: 2;
}

.control-adult {
  grid-column: 1/2;
  grid-row: 3;
}

.control-children {
  grid-column: 2/-1;
  grid-row: 3;
}

.button-form-booking {
  grid-column: 1/-1;
  grid-row: 4;
}

.form-booking-container{
  position: relative;
}

.form-booking-date {
  margin: 0;
  padding: 0;
  border: none;
  display: grid;
  grid-template-columns: 137px 440px;
}

.control-booking {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
}

.control-message {
  position: absolute;
  bottom: -25px;
  left: 137px;
  margin: 0;
  padding: 0 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
}

.message-error {
  color: #ff5757;
}

.control-booking-date::after {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  content: "";
  background-image: url("../images/catalog/data.svg");
  background-size: 20px 20px;
}

.control-booking-input {
  border: none;
  border-radius: 4px;
  padding-top: 12px;
  padding-right: 45px;
  padding-bottom: 12px;
  padding-left: 20px;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;

  color: #000000;
  background-color: #f2f2f2;
}

.control-booking-input::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.control-booking-input:hover {
  background-color: #e5e5e5;
}

.control-booking-input:focus-visible {
  outline: 3px solid #83b3d3;
  border-radius: 4px;
  background-color: #e5e5e5;
}

.control-booking-input:disabled {
  background-color: #999999;
  opacity: 0.3;
}

.form-booking-guests {
  margin: 0;
  padding: 0;
  border: none;
  display: grid;
  grid-template-columns: 137px 110px;
  grid-template-rows: 48px;
}

.buttons-wrapper {
  display: grid;
  grid-template-columns:  40px 31px 39px;
  grid-template-rows: 48px;
}

.field-guests::-webkit-outer-spin-button,
.field-guests::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.field-guests {
  padding: 14px 3px;
  border-radius: 0;
  box-sizing: border-box;
  appearance: none;
  -moz-appearance: textfield;
  text-align: center;
}

.button-count {
  padding: 14px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;

  color: rgba(117,97,87, 0.3);
  background-color: #f2f2f2;
}

.button-reduce {
  border-radius: 4px 0 0 4px;
}

.button-add {
  border-radius: 0 4px 4px 0;
}

.button-count:hover {
  color: #000000;
}

.button-count:focus-visible,
.field-guests:focus-visible {
  position: relative;
  color: #000000;
  outline: 3px solid #82b3d3;
  border-radius: 4px;
}

.button-count:active {
  color: rgba(117,97,87, 0.2);
}

.button-count:disabled,
.field-guests:disabled {
  background-color: #999999;
  color: #e5e5e5;
  opacity: 0.3;
}

.control-children {
  grid-template-columns: 131px 111px;
}

.control-booking-children {
  padding-top: 11px;
  padding-bottom: 11px;
}

.inner-children {
  width: 85px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tooltip {
  position: relative;
}

.button-tooltip {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 26px;
  border: none;
  border-radius: 50%;
  background-color: #83b3d3;
  background-image: url("../images/catalog/criteria.svg");
  background-size: 20px 20px;
  background-position: center center;
  background-repeat: no-repeat;
}

.tooltip-text::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 10px solid;
  border-color: transparent;
  border-bottom-color: #333333;
  top: -18px;
  left: 50%;
  transform: translateX(-50%);
}

.tooltip-text {
  background-color: #333333;
  color: #ffffff;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.3);

  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  padding: 21px 18px 18px 22px;
  border-radius: 10px;
  min-width: 256px;
  max-width: 356px;
  height: 143px;
  box-sizing: border-box;
  position: absolute;
  bottom: -158px;
  left: 50%;
  transform: translateX(-50%);
}

.tooltip-text {
  display: nome;
}

.button-tooltip:hover {
  background-color: #83b3d3;
}

.button-tooltip:hover + .tooltip-text {
  display: block;
}

.button-tooltip:focus-visible {
  background-color: #83b3d3;
  outline: 2px solid #000000;
}

.button-tooltip:focus-visible + .tooltip-text {
  display: block;
}

.button-tooltip:disabled {
  background-color: #e5e5e5;
}

.button-tooltip:disabled + .tooltip-text {
  display: none;
}

.button-form-booking {
  padding-top: 18px;
  padding-bottom: 18px;

  border-radius: 10px;

  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

  background-color: #83b3d3;
}

.button-form-booking:hover,
.button-form-booking:focus-visible {
  background-color: #68a2ca;
}

.button-form-booking:active {
  background-color: #68a2ca;
  color: rgba(255, 255, 255, 0.3);
}

.button-form-booking:disabled {
  background-color: #e5e5e5;
  color: rgba(255, 255, 255, 0.3);
}
/* catalog.html */

.main-inner {
  background-color: #ffffff;
}

.inner-container {
  background-image: url("../images/catalog/von-2.jpg");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  background-color: #999999;

  padding-top: 35px;
  padding-right: 70px;
  padding-bottom: 70px;
  padding-left: 70px;
}

/* inner-header */

.inner-header {
  margin-bottom: 40px;

  color: #ffffff;
}

.title-inner-header {
  margin: 0;
  margin-bottom: 8px;

  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.breadcrumbs-list {
  display: flex;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;

  list-style: none;
}

.breadcrumbs-item {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
}

.breadcrumbs-link {
  text-decoration: none;
  color: #ffffff;
}

.breadcrumbs-link-home svg {
  display: block;
}

.breadcrumbs-item:not(:last-child)::after {
  content: "";
  width: 8px;
  height: 20px;
  background-image: url("../images/catalog/icons.svg");
  background-size: 8px 20px;
  background-repeat: no-repeat;
  margin: auto 10px;
}

.breadcrumbs-link:hover,
.breadcrumbs-link:focus-visible {
  outline: none;
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-link-hotel-active:hover {
  cursor: default;
  color: #ffffff;
}

/* catalog */

.form-catalog-hotel {
  display: flex;
  align-items: start;

  color: #ffffff;
}

.catalog-filter-group {
  width: 151px;
  margin: 0;
  padding: 0;

  border: none;
  margin-right: 70px;
}

.catalog-filter-group-price {
  width: 288px;
  margin-left: 70px;
}

.catalog-filter-title {
  padding: 0;
  margin-bottom: 32px;

  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-transform: capitalize;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 16px;
}

.control {
  position: relative;
  width: 110px;
  display: inline-block;
  padding-left: 36px;
  line-height: 23px;
  font-weight: 400;
}

.control-mark {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  top: 2px;
  left: 0;
  background-color: #ffffff;
}

.control-label {
  display: inline-block;
  width: 110px;
  overflow-wrap: break-word;
}

.control:hover {
  color: rgba(255, 255, 255, 0.6);
}

.control:hover .control-mark {
  background-color: rgba(255, 255, 255, 0.6);
}

.control:active {
  color: rgba(255, 255, 255, 0.3);
}

.control:active .control-mark {
  background-color: rgba(255, 255, 255, 0.3);
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  content: url("../images/catalog/icons-2.svg");
  position: absolute;
  left: 4px;
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: #3f5e72;
  border-radius: 50%;
  content: "";
}

.control-input[type="checkbox"]:focus-visible + .control-mark {
  outline: 3px solid #83b3d3;
}

.control-input[type="radio"]:focus-visible + .control-mark {
  outline: 3px solid #83b3d3;
}

.control-input:disabled ~ .control-label {
  color: #e5e5e5;
  opacity: 0.3;
}

.control-input:disabled + .control-mark {
  background-color: #e5e5e5;
  opacity: 0.3;
}

.price-container {
  position: relative;
  display: flex;
  width: 288px;
  margin-bottom: 36px;
  column-gap: 2px;
  align-items: center;
}

.price-input {
  width: 143px;
  padding-top: 12px;
  padding-right: 42px;
  padding-bottom: 12px;
  padding-left: 20px;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;

  background-color: #f2f2f2;
  border: none;
  box-sizing: border-box;
}

.price-input-min {
  border-radius: 4px 0 0 4px;
}

.price-input-max {
  border-radius: 0 4px 4px 0;
}

.price {
  position: absolute;

  line-height: 24px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.3);
}

.price-min {
  right: 165px;
}

.price-max {
  right: 20px;
}

.price-input::-webkit-outer-spin-button,
.price-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.price-input {
  appearance: none;
  -moz-appearance: textfield;
}

.price-input:hover{
  background-color: #e5e5e5;
}

.price-input-min:focus-visible {
  outline: 3px solid #83b3d3;
  border-radius: 4px 0 0 4px;
}

.price-input-max:focus-visible {
  outline: 3px solid #83b3d3;
  border-radius: 0 4px 4px 0;
}

.price-input:disabled {
  background-color: #e5e5e5;
  opacity: 0.3;
}

.slider-container {
  width: 288px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-line {
  position: relative;
  width: 287px;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
}

.slider-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
}

.slider-toggle {
  position:absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 0;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  cursor: pointer;
}

.slider-toggle-min-price {
  left: 0;
}

.slider-toggle-max-price {
  right: 0;
}

.slider-toggle:hover {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
}

.slider-toggle:focus-visible {
  outline: 3px solid #83b3d3;

  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
}

.slider-toggle:active {
  outline: 2px solid #83b3d3;
  box-shadow:  0 7px 15px 0 rgba(0, 0, 0, 0.4);
}

.slider-toggle:disabled {
  background-color: #e5e5e5;
  opacity: 0.5;
}

.button-container {
  padding-top: 56px;
}

.button-form-catalog-submit {
  width: 191px;
  padding-right: 50px;
  padding-left: 50px;
  margin-bottom: 32px;
  border-radius: 4px;
  background-color: #82b3d3;
}

.button-form-catalog-submit:hover,
.button-form-catalog-submit:focus-visible {
  background-color: #68a2ca;
}

.button-form-catalog-submit:active {
  background-color: #82b3d3;
}

.button-form-catalog-submit:disabled {
  background-color: #e5e5e5;
  color: #ffffff;
}

.button-form-catalog-reset {
  width: 191px;
  padding-right: 58px;
  padding-left: 57px;
  background-color: inherit;
}

.button-form-catalog-reset:hover {
  color: rgba(255, 255, 255, 0.6);
  background-color: inherit;
}

.button-form-catalog-reset:focus-visible {
  box-shadow: 0 0 0 3px #83b3d3;
  border-radius: 4px;
  background-color: inherit;
}

.button-form-catalog-reset:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: inherit;
}

.button-form-catalog-reset:disabled {
  color: rgba(255,255,255, 0.1);
  background-color: inherit;
}

/* section product-container */

.product-container {
  padding-top: 50px;
  padding-right: 70px;
  padding-bottom: 60px;
  padding-left: 70px;
}

.header-product-sort {
  display: flex;
  margin-bottom: 40px;
  align-items: flex-start;
  gap: 10px;

}

.text-sort {
  max-width: 528px;
  margin: 0;
  margin-top: 6px;
  margin-bottom: 7px;

  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.select {
  position: relative;
  display: flex;
  align-items: center;
  width: 292px;
  margin-left: auto;
  margin-right: 60px;
}

.select-control {
  width: 100%;
  padding-top: 12px;
  padding-right: 35px;
  padding-bottom: 12px;
  padding-left: 20px;

  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;

  border: 2px solid #e5e5e5;
  border-radius: 4px;

  color: #333333;
  background-color: #ffffff;

  background-image: url("../images/catalog/vector-8.svg");
  background-repeat: no-repeat;
  background-position: right 18px center;
  appearance: none;
}

.select-control:hover,
.select-control:focus-visible {
  outline: none;
  border: 2px solid #68a2ca;
  border-radius: 4px;
}

.select-control:disabled {
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

.view-card-list {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  width: 160px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.view-link {
  color: #000000;
  text-decoration: none;
  display: block;
  width: 48px;
  height: 48px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  box-sizing: border-box;
  background-size: 16px 14px;
  background-position: 14px 15px;
  background-repeat: no-repeat;
}

.view-link:hover,
.view-link:active {
  border-color: #000000;
}

.view-link:focus-visible {
  outline: none;
  border-color: #68a2ca;
}

.view-card {
  background-image: url("../images/catalog/vector-2.svg");
}

.view-tield {
  background-image: url("../images/catalog/vector-3..svg");
}

.view-list {
  background-image: url("../images/catalog/vector-4.svg");
}

.view-card-active {
  border-color: #000000;
}

.product-list {
  display: grid;
  min-height: 438px;
  grid-template-columns: 340px 340px 340px;
  gap: 20px;
  margin: 0;
  padding: 0;
  margin-bottom: 80px;

  list-style: none;
}

.product-card {
  padding: 20px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 140px 140px;
  grid-template-rows: 212px 1fr auto auto auto;
  column-gap: 20px;
  row-gap: 16px;
  align-items: center;
  box-shadow: 0 0 0 1px #e6e6e6;
  border-radius: 4px;
}

.product-card-link {
  color: #000000;
  text-decoration: none;
  grid-column-start: 1;
  grid-column-end: -1;
}

.product-card-link:hover,
.product-card-link:focus-visible {
  outline: none;
  color:#756157;
  opacity: 0.7;
}

.product-card-link:active {
  color: rgba(117, 97, 87, 0.3);
}

.product-card-link img {
  display: block;
  width: 300px;
  height: 212px;
}

.product-card-image:hover {
  opacity: 0.7;
}

.product-card-image:active {
  opacity: 0.3;
}

.product-card-title {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}

.product-card-text,
.product-card-price {
  margin: 0;
  font-weight: 400;
  color: #333333;
}

.product-card-price {
  text-align: right;
}

.product-card-button {
  padding: 8px 26px;
  border-radius: 4px;
  text-decoration: none;
}

.button-favorite {
  padding: 8px 20px;
  border: none;
  border-radius: 4px;

  background-color: #82b3d3;
}

.button-favorite:hover,
.button-favorite:focus-visible {
  background-color: #68a2ca;
}

.button-favorite:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.button-favorite:disabled {
  background-color: #e5e5e5;
  color: #ffffff;
}

.button-favorite-active {
  padding: 8px 18px;
  background-color: #7db54f;
}

.button-favorite-active:hover,
.button-favorite-active:focus-visible {
  background-color: #6c9e42;
}

.button-favorite-active:active {
  background-color: #7db54f;
  color: rgba(255, 255, 255, 0.3);
}

.button-favorite-active:disabled {
  background-color: #e5e5e5;
  color: #ffffff;
}

.card-stars {
 height: 100%;
 background-image: url("../images/star.svg");
 background-repeat: space no-repeat;
 background-position: center;
}

.product-card-rating {
  margin: 0;
  padding: 9px 22px 8px 23px;
  box-sizing: border-box;

  grid-column-start: -1;
  grid-column-end: -2;

  border-radius: 4px;

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;

  background-color: #f2f2f2;
}

.card-stars-five {
  width: 104px;
}

.card-stars-four {
  width: 89px;
  margin-left: 1px;
}

.card-stars-three {
  width: 66px;
}

.card-stars-two {
  width: 42px;
}

.card-stars-one {
  width: 18px
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 8px;
  flex-wrap: wrap;

  list-style: none;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  min-width: 60px;
  height: 60px;
  padding: 11px 18px 12px 18px;

  border-radius: 4px;


  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #82b3d3;
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination-link:not(.pagination-current):hover,
.pagination-link:not(.pagination-current):focus-visible {
  outline: none;
  background-color: #68a2ca;
}

.pagination-dots:hover,
.pagination-dots:focus-visible {
  color: #ffffff;
}

.pagination-link:not(.pagination-current):active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82b3d3;
}

.pagination-dots {
  padding: 16px 21px 17px 21px;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;

  background-color: inherit;
}

/* footer */

.page-footer {
  background-color: #ffffff;
}
